# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/gradle/
android/gradle-wrapper.jar
android/gradle-wrapper.properties
android/local.properties
*.iml
*.hprof
*.lock
*.log
*.pyc
*.pyo
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/

# amplify
node_modules
.amplify
#amplify_outputs*
amplifyconfiguration*

.env
*.jks
key.properties